html { 
  background: url("https://static.pexels.com/photos/8263/pexels-photo.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}